@import "tailwindcss";

@theme {
    --font-sans: "Prompt", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "daisyui";
@plugin "@tailwindcss/forms";

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@theme {
    --font-sans: 'Sarabun', sans-serif;
    --color-primary: #2563eb;
    /* blue-600 matches the specified explicit blue usage */
    --color-primary-content: #ffffff;

    --animate-kenburns: kenburns 20s infinite alternate;

    @keyframes kenburns {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }
}